@import "tailwindcss";
@plugin "daisyui";

.box {
	@apply rounded-box bg-base-200 shadow-md;
}

.leaflet-bar a {
	@apply bg-base-100 hover:bg-base-200 text-base-content;
	@apply flex items-center justify-center;
}

.leaflet-bar a:focus {
	@apply outline-none bg-base-200 text-base-content ring-2 ring-primary;
}
