@import "tailwindcss";
@plugin "daisyui";

.box {
	@apply rounded-box bg-base-200 shadow-md;
}

.leaflet-bar a {
	@apply bg-primary hover:bg-primary text-primary-content;
	@apply flex items-center justify-center;
}

.leaflet-bar a:focus {
	@apply bg-primary text-primary-content;
}
