@import "tailwindcss";

@plugin "daisyui" {
	themes: all;
}

.box {
	@apply rounded-box bg-base-200 shadow-md;
}

.navbar-section {
	@apply flex items-center;
}

.leaflet-bar {
	@apply !border-0 flex flex-col gap-1;
}

.leaflet-bar a {
	@apply !rounded-box !border-0;
	@apply bg-secondary text-secondary-content;
	@apply flex items-center justify-center;
	width: 2.5rem !important;
	height: 2.5rem !important;
}

.leaflet-bar a:focus {
	@apply bg-secondary text-secondary-content;
}

.leaflet-bar a:hover {
	@apply bg-secondary/80 text-secondary-content;
}

.leaflet-bar a.leaflet-disabled {
	@apply bg-base-200 text-base-content;
}

.custom-map-marker {
	@apply text-secondary;
}
